<h4>Contact List </h4>
<%= text_field 'search', ''%>
<div>
   <div id="contact_list">
     <%=render partial: 'contacts' %>
   </div>
</div>

<script type="text/javascript">
$(document).ready(function(){

   var search_fun = function(){

      $('#search_').keyup(function(){
         
         $.post('/contacts/search.js', {value: $(this).val()}, function(res){

         });

      });
   };

   search_fun();
});


</script>